.authForm {
  width: 100%;
  > input {
    height: 40px;
  }
  > input[type='submit'] {
    height: 50px;
  }
  .error-msg {
    display: inline-block;
    width: 100%;
    margin: 20px 0;
    text-align: center;
    color: red;
  }
  input, button {
    width: 100%;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    color: #000;
    background: #ffffff;
  }
  
  input[type='submit'], button {
    margin-bottom: 0;
    padding: 10px 10px;
    font-weight: bold;
  }
}

.toggleBtn {
  width: 100%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 10px 0;
}

.socialButtons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
  > button {
    box-sizing: border-box;
    min-width: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    > img {
      width: 28px;
      height: 28px;
      display: inline-block;
    }
  }
}