@mixin flex-box($horizontal, $vertical, $gap, $warp, $reverse){
  display: flex;
  justify-content: $horizontal;
  align-items: $vertical;
  flex-wrap: $warp;
  flex-direction: $reverse;
  gap:$gap;
}

.container {
  position: relative;
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.header {
  position: sticky;
  // top: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(255,255,255,0.7);

  .container {
    @include flex-box(center, center, 20px,unset, unset);
    margin: 0;
    padding: 0;
  }
  .headerLogo {
    width: 60px;
    height: 60px;
    padding: 0;
  }
}
.header:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000;
}

.navList {
  width: calc(100% - 80px);
  @include flex-box(flex-end, center, 20px,unset, unset);
  font-size: 20px;
}

.backToHome {
  margin: 3rem 0 0;
}

.main {
  min-height: calc(100vh - 60px);
}